body {
  font-size: 13px;
  line-height: 1.2;
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 1.25;
}

h3 {
  font-size: 17px;
  line-height: 1.765;
}

.main-header {
  min-height: 320px;

  background: #f1f5f7;
}

.header-menu {
  min-height: 41px;
  margin-bottom: 47px;

  background: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: block;

  color: white;
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;

}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/**Первая часть шапки**/
.logo {
  position: relative;

  float: left;
  width: 220px;
  padding-top: 9px;
  padding-bottom: 7px;

  font-size: 24px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: white;
  background-color: #ee3643;
}

.logo::after {
  position: absolute;
  bottom: -5px;

  display: block;

  width: 220px;
  height: 5px;

  background: #b52933;
  content: "";
}

.logo:hover {
  background: #ca2c37;
}

.logo:active {
  background: #ba2732;
}

/** Поисковая форма**/

.search {
  position: relative;
}

.search button {
  position: absolute;
  top: 12px;
  left: 237px;

  width: 17px;
  height: 17px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -23px -84px;
  opacity: 0.3;
  text-indent: -10000px;
  border-style: none;
  outline: none;

}

.search input{
  float: left;
  width: 270px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 1.059;

  color: white;
  background-color: transparent;
  border-style: none;
  outline: none;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input:hover {
  background: #212a3a;
}

input:hover + button {
  opacity: 1;
}

.search input:focus {
  background: #ffffff;

  color: #000000;
}

input:focus + button {
  background-position: -42px -84px;
}

/**Меню заказов**/

.header-order {
  float: right;
  width: 450px;

  font-size: 0;
}

.header-order a {
  display: inline-block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-size: 17px;
  line-height: 1.059;
  text-align: center;

  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

.header-order .header-order-marks {
  padding-left: 18px;
}

.header-order-marks,
.header-order-basket {
  position: relative;
}

.header-order-marks:hover,
.header-order-basket:hover {
  background: #212a3a;
}

.header-order-marks::after,
.header-order-basket::after {
  position: absolute;
  left: 16px;
  top: 12px;

  display: block;
  width: 14px;
  height: 16px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -174px -84px;

  text-indent: -10000px;
  opacity: 0.3;

  content: "";
}

.header-order-basket::after {
  width: 18px;
  height: 16px;

  background-position: -61px -84px;
}

.header-order-marks:hover::after,
.header-order-basket:hover::after {
  opacity: 1;
}

.header-order-marks:active,
.header-order-basket:active {
  opacity: 0.3;
  background: #161d29;
}

.header-order .header-order-confirmation {
  padding-left: 0;

  background-color: #63a63e;
}

.header-order-confirmation:hover {
  background-color: #5fbb2d;
}

.header-order-confirmation:active {
  opacity: 0.51;
}

    /*--Вторая часть шапки--*/
.main-header-about {
  margin-bottom: 41px;
}


.main-header-about p {
  float: left;
  margin: 0;
  margin-top: 1px;
  padding-left: 53px;

  font-size: 16px;
  line-height: 1.438;
  font-style: italic;

  color:#ee3643;
}

.main-header-contacts {
  float: left;
  margin-left: 71px;
}

.main-header-phone {
  position: relative;

  display: block;
  padding-top: 6px;
  padding-right: 50px;
  padding-bottom: 6px;
  padding-left: 72px;

  font-size: 21px;
  line-height: 1.286;
  text-decoration: none;

  color: #ee3643;
  background-color: transparent;
  border: 3px solid white;
}

.main-header-phone::after {
  position: absolute;
  left: 12px;
  top: 10px;

  display: block;
  width: 19px;
  height: 19px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -80px -84px;

  text-indent: -10000px;

  content: "";
}

.main-header-contacts span {
  display: block;
  margin-top: 3px;

  font-size: 14px;
  line-height: 1.714;
  text-align: center;

  color: #32425c;
}

.main-header .user-block {
  float: right;
  width: 285px;

  font-size: 0;
}

/**Блок пользователя**/

.user-block .login {
  position: relative;

  display: inline-block;
  padding-top: 9px;
  padding-right: 25px;
  padding-bottom: 9px;
  padding-left: 50px;

  font-size: 21px;
  line-height: 1.286;

  color: #000000;
  background: white;
  text-decoration: none;
}

.user-block .login::after {
  position: absolute;
  left: 17px;
  top: 13px;

  display: block;
  width: 20px;
  height: 17px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -264px -65px;

  text-indent: -10000px;

  content: "";
}

.user-block .login:hover::after {
  background-position: -309px -65px;
}

.user-block .login:active::after {
  background-position: -264px -65px;
}

.user-block .registration {
  display: inline-block;
  margin-left: 10px;
  padding: 9px 25px;

  font-size: 21px;
  line-height: 1.286;

  color: #000000;
  background: white;
  text-decoration: none;
}

.user-block .login:hover,
.user-block .registration:hover {
  color: #ee3643;
}

.user-block .login:active,
.user-block .registration:active {
  color: #cacaca;
}

/**Главное меню**/

.main-nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  width: inherit;

  background-color: #32425c;
}

.main-nav li {
  display: inline-block;
  font-size: 17px;
  line-height: 1;
}

.main-nav a {
  display: block;

  padding-top: 21px;
  padding-left: 31px;
  padding-bottom: 19px;
  padding-right: 31px;

  text-align: center;
  text-decoration: none;

  color: white;
  border-bottom: 5px solid #293449;
}

.main-nav li:first-child {
  padding-left: 20px;
}

.main-nav a:hover {
  background: #293449;
}

.main-nav a:active {
  background: #1d2739;
  border-color: #1d2739;
}

.main-nav .active {

}

/**Первая часть мейна со слайдером**/

.features {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 59px;
  margin-bottom: 35px;
}


.features-item {
  float: left;
  width: 300px;
  min-height: 123px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.features-item-material {
  position: relative;

  background-color: #f6b22d;
}

.features-item-material::after {
  position: absolute;
  top: 30px;
  right: 43px;

  display: block;
  width: 44px;
  height: 65px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: 0 0;

  text-indent: -10000px;

  content: "";
}

.features-item-instrument {
  position: relative;


  background-color: #4aafde;
}

.features-item-instrument::after {
  position: absolute;
  top: 33px;
  right: 30px;

  display: block;
  width: 74px;
  height: 61px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -46px 0;

  text-indent: -10000px;

  content: "";
}

.features-item-technics {
  position: relative;


  background-color: #cc79d1;
}

.features-item-technics::after {
  position: absolute;
  top: 30px;
  right: 30px;

  display: block;
  width: 78px;
  height: 62px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -123px 0;

  text-indent: -10000px;

  content: "";
}

.features-item-discount {
  position: relative;


  background-color: #85d179;
}

.features-item-discount::after {
  position: absolute;
  top: 27px;
  right: 45px;

  display: block;
  width: 59px;
  height: 72px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -203px 0;

  text-indent: -10000px;

  content: "";
}

.features-item-delivery {
  position: relative;


  background-color: #f6b22d;
}

.features-item-delivery::after {
  position: absolute;
  top: 31px;
  right: 28px;

  display: block;
  width: 78px;
  height: 63px;

  background: transparent url("../IMG/sprite/sprite.png") no-repeat;
  background-position: -264px 0;

  text-indent: -10000px;

  content: "";
}

.features-item h2 {
  padding-top: 21px;
  padding-left: 23px;
  margin: 0;

  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;

  color: white;
}

.features-item a {
  display: block;
  width: 135px;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 1.286;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.features-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/**Слайдер №1**/

.features-slider {
  position: relative;

  float: left;
  width: 620px;
  overflow: hidden;
}

.features-slider input {
  display: none;
}

.features-slider-item {
  position: relative;
  height: 266px;
}

.features-slider-item:first-child {
  display: none;
  background: #9a8a73 url("../img/features-slider-item-perforator.jpg") no-repeat;
}

.features-slider-item:last-child {
  display: none;
  background: #a27a6f url("../IMG/features-slider-item-drill.jpg") no-repeat;
}

.features-slider h2 {
  margin: 0;
  padding-top: 19px;
  padding-left: 24px;

  font-size: 36px;
  line-height: 1.222;
  font-weight: bold;
  text-transform: uppercase;

  color: #ffffff;
}

.features-slider span {
  display: block;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.333;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #ffffff;
}

.features-slider a {
  float: left;
  width: 195px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 1.286;
  text-align: center;

  border-radius: 2px;
}

.features-slider-item a {
  position: absolute;
  bottom: 1px;
  left: 0px;

  background: #ee3643;
}

.features-slider-item a:hover {
  background: #ca2c37;
}

.features-slider-item a:active {
  background: #ba2732;
}

.features-slider .features-slider-controls {
  position: absolute;
  bottom: 41px;
  left: 295px;
  margin-bottom: -5px;

  font-size: 0;

  z-index: 1000;
}

.features-slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 10px;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.features-slider-controls label:first-child::before,
.features-slider-controls label:last-child::before {
  position: absolute;
  bottom: 82px;


  width: 25px;
  height: 25px;

  border-top: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 3px;

  content: "";
  z-index: 1000;
}

.features-slider-controls label:first-child::before {
  left: -265px;

  transform: rotate(-135deg);
}

.features-slider-controls label:last-child::before {
  left: 270px;

  transform: rotate(45deg);
}

.features-slider-controls label:first-child {
  margin-left: 0;
}

#left-arrow:checked ~ .features-slider-controls label:first-child {
  background-color: #f04a55;
}

#left-arrow:checked ~ .features-slider-content .features-slider-item:first-child {
  display: block;
}

#right-arrow:checked ~ .features-slider-controls label:last-child {
  background-color: #f04a55;
}

#right-arrow:checked ~ .features-slider-content .features-slider-item:last-child {
  display: block;
}
/**Оформление мейна второй страницы**/
/**Хлебные крошки**/

.breadcrumbs a,
.breadcrumbs span {
  float: left;
  margin-left: 39px;
  padding: 25px 0;
}

.breadcrumbs a:first-child {
  margin-left: 0;
}

main h1 {
  margin: 0;
  padding: 33px 0;
  margin-bottom: 20px;

  background: #f2f6f8;
}
/** фильтер **/

.filter {
  float: left;
  width: 220px;
}

fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.filter h2 {
  margin: 0;
  padding: 14px 18px;

  background: #f7f3ec;
}

.filter .range-slider {
  width: 220px;
  min-height: 127px;

  background: #f7f3ec;
}

.filter label {
  display: block;
}

.filter input[type="submit"] {
  margin-top: 75px;
}

/**Сортировка**/

.sorting {
  float: right;
  width: 680px;
  margin-bottom: 20px;
  padding: 14px 10px;

  background: #f7f3ec;
}

.sorting h2, .sorting a {
  float: left;
}

.sorting h2 {
  margin: 0;
  margin-right: 70px;
}

.sorting a {
  margin-left: 70px;
}

.sorting a:nth-child(n+5) {
  display: none;
}

/** Товары **/
.catalog-content {
  float: right;
  width: 700px;
}

.paginator {
  float: left;
  margin-bottom: 60px;
}

.paginator a {
  float: left;
  padding: 13px 13px;
}

.paginator a:first-child {
  display: none;
}

/**Вторая часть мейна популярные товары**/


.main-title {
  margin-bottom: 21px;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 25px;
  padding-left: 30px;

  background-color: #f7f3ec;
}

.main-title h2 {
  float: left;
  margin: 0;
  padding-top: 6px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
}

.main-title .btn {
  float: right;
  width: 253px;
  margin-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.goods {
  font-size: 0;
  margin-right: -10px;
  margin-left: -10px;
}

.goods-item {
  position: relative;

  display: inline-block;
  width: 218px;
  min-height: 316px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  vertical-align: top;

  font-size: 17px;
  line-height: 1.059;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.goods-item-image {
  margin: 0;
  padding: 0;
}

.goods-item-title {
  min-height: 40px;
  margin-bottom: 17px;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 1.111;
  white-space: normal;
}

.goods-item-discount {
  min-height: 18px;
  margin-bottom: 13px;

  text-decoration: line-through;

  color: #999999;
}

.btn-price {
  position: relative;

  width: 140px;
  min-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 42px;

  text-align: center;
}

.goods-item-order {
  display: none;
}

/** Третья часть мейна производители **/
.suppliers {
  margin-right: -10px;
  margin-left: -10px;

  font-size: 0;
}
.suppliers a {
  display: inline-block;
  width: 218px;
  height: 143px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  vertical-align: top;

  border: 1px solid #ccc;
}

.suppliers a:nth-child(4n) {
  margin-right: 0px;
}

/** Четвертая часть мейна сервисы+слайдер **/

.services {
  min-height: 522px;
}

.section {
  background: #f2f6f8;
}

.section h2 {
  margin: 0;
  padding-top: 57px;
  padding-bottom: 20px;

  font-size: 30px;
  line-height: 1.333;
  text-transform: uppercase;
}

.section p {
  margin: 0;
  margin-bottom: 72px;

  font-size: 13px;
  line-height: 1.846;
}
/** Слайдер №2 **/

.services-tabs input {
  display: none;
}

.services-tabs-controls {
  position: relative;

  float: left;
}

.services-tabs-controls::after {
  position: absolute;
  top: 50%;
  right: 0;

  margin-top: -136px;

  content: "";

  width: 10px;
  height: 272px;

  background: url("../IMG/services-tabs-controls-shadow.png") no-repeat;
}

.services-tabs-controls label {
  display: block;
  width: 218px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  color: #ffffff;
  background: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.services-tabs-content {
  float: left;
  margin-left: 80px;
}

.services-tabs-item {
  position: relative;
}

.services-tabs-item h2 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  color: #32425c;
}

.services-tabs-item p {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.services-tabs-item .btn {
  float: left;
  margin-top: 26px;
  padding: 12px 44px;

  font-size: 14px;
  line-height: 18px;
}

.services-tabs-item::after {
  position: absolute;
  content: "";
}

.services-tabs-item:nth-child(1)::after {
  top: 20px;
  right: 0;

  width: 468px;
  height: 261px;

  background: url("../IMG/services-tabs-delivery.png");
}

.services-tabs-item:nth-child(2)::after {
  top: 0;
  right: 0;

  width: 389px;
  height: 283px;

  background: url("../IMG/services-tabs-guarantee.png");
}

.services-tabs-item:nth-child(3)::after {
  top: 0;
  right: 0;

  width: 465px;
  height: 285px;

  background: url("../IMG/services-tabs-credit.png");
}

.services-tabs-item {
  display: none;
  width: 620px;
}

#delivery:checked ~ .services-tabs-controls label:nth-child(1) {
  color: #000000;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

#delivery:checked ~ .services-tabs-content .services-tabs-item:nth-child(1)  {
  display: block;
}

#guarantee:checked ~ .services-tabs-controls label:nth-child(2) {
  color: #000000;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

#guarantee:checked ~ .services-tabs-content .services-tabs-item:nth-child(2)  {
  display: block;
}

#credit:checked ~ .services-tabs-controls label:nth-child(3) {
  color: #000000;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

#credit:checked ~ .services-tabs-content .services-tabs-item:nth-child(3)  {
  display: block;
}


/** Пятая часть мейна информационный контент **/

.info {
  margin-bottom: 86px;
}

.info-company {
  width: 540px;
}

.info-contacts {
  margin-left: 100px;
}

.info-company,
.info-contacts {
  float: left;
  margin-top: 77px;
}

.info h2 {
  margin: 0;
  padding-bottom: 31px;

  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.info p {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;

  font-size: 13px;
  line-height: 24px;
}

.info-company .list {
  margin: 0;
  padding: 0;
}

.list li {
  position: relative;

  padding-left: 36px;
  padding-bottom: 22px;

  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.list li::after {
  position: absolute;
  top: 9px;
  left: 0px;
  margin-top: 1px;

  width: 25px;
  height: 2px;

  background: #fb565a;

  content: "";
}

.info a {
  width: 220px;
  margin-top: 14px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.info-map {
  padding-bottom: 26px;
}

.info-contacts a {
  width: 300px;
}

/**Первая часть футера лого+навигация**/

.main-footer {
  color: #ffffff;

  background: #32425c;
}

.main-footer-about {
  float: left;
  width: 380px;
}

.main-footer-about p {
  float: left;
}

.main-footer-nav {
  float: right;
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 43px;
  padding-bottom: 32px;

  font-size: 0;

  list-style: none;
}

.main-footer-nav li {
  display: inline-block;
  margin-bottom: 43px;
  margin-right: 55px;
}

.main-footer-nav li:nth-child(5) {
  margin-right: 0;
}

.main-footer-nav li:nth-child(9) {
  margin-right: 0;
}

.main-footer-nav a {
  font-size: 18px;
  line-height: 1.333;
  text-decoration: none;

  color: #ffffff;
}
/**Вторая часть футера копирайты+соц.сеть.**/

.main-footer-info {
  min-height: 107px;
  padding-top: 41px;

  color: #ffffff;

  background: #293449;
}

.main-footer-copyright {
  float: left;
  width: 240px;

  font-size: 16px;
  line-height: 1.125;
}

.social {
  float: left;
  width: 134px;
  margin-left: 150px;

  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 4px;

  background: #212a3a;

  border-radius: 50%;
}

.social-btn:last-child {
  margin-right: 0px;
}

.main-footer-feedback {
  float: right;
  width: 100px;
  margin-left: 50px;
}


