body {
  font-size: 13px;
  line-height: 1.2;
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 1.25;
}

h3 {
  font-size: 17px;
  line-height: 1.765;
}

.main-header {
  min-height: 320px;

  background: #f1f5f7;
}

.header-menu {
  min-height: 41px;
  margin-bottom: 51px;

  background: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: block;

  color: white;
  background-color: #ee3643;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/**Первая часть шапки**/
.logo {
  float: left;
  width: 220px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: white;
  background-color: #ee3643;
}
.search button {
  display: none;
}


.search input{
  float: left;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;

  color: white;
  background-color: transparent;
}

.header-order {
  float: right;
  width: 450px;

  font-size: 0;
}

.header-order a {
  display: inline-block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 17px;
}

.header-order-confirmation {
  background-color: #63a63e;
}

    /*--Вторая часть шапки--*/
.main-header-about {
  margin-bottom: 41px;
}


.main-header-about p {
  float: left;
  margin: 0;
  padding-left: 53px;
}

.main-header-contacts {
  float: left;
  margin-left: 71px;
}

.main-header-phone {
  display: block;
  padding-top: 7px;
  padding-right: 50px;
  padding-bottom: 7px;
  padding-left: 72px;
}

.main-header-contacts span {
  display: block;
}

.main-header .user-block {
  float: right;
  width: 285px;
  font-size: 0;
}

.user-block .login {
  display: inline-block;
  padding-top: 11px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 48px;

  font-size: 21px;
}

.user-block .registration {
  display: inline-block;
  margin-left: 10px;
  padding: 11px 25px;

  font-size: 21px;
}

.main-nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  width: inherit;

  background-color: #32425c;
}

.main-nav li {
  display: inline-block;
  font-size: 17px;
  line-height: 1;
}

.main-nav a {
  display: block;
  width: 134px;

  padding-top: 22px;
  padding-bottom: 21px;
}

/**Первая часть мейна со слайдером**/

.features {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 59px;
  margin-bottom: 53px;
}


.features-item {
  float: left;
  width: 300px;
  min-height: 123px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.features-item-material {
  background-color: #f6b22d;
}

.features-item-instrument {
  background-color: #4aafde;
}

.features-item-technics {
  background-color: #cc79d1;
}

.features-item-discount {
  background-color: #85d179;
}

.features-item-delivery {
  background-color: #f6b22d;
}

.features-item h2 {
  padding-top: 21px;
  padding-left: 23px;
  margin: 0;
}

.features-item a {
  display: block;
  width: 135px;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.1);
}

/**Слайдер №1**/

.features-slider {
  float: left;
  width: 620px;
  overflow: hidden;
}

.features-slider input {
  display: none;
}

.features-slider-item {
  position: relative;
  height: 266px;
}

.features-slider-item:first-child {
  display: block;
  background: #9a8a73 url("../img/features-slider-item-drill.jpg") no-repeat;
}

.features-slider-item:last-child {
  display: none;
  background: #a27a6f url("../IMG/features-slider-item-perforator.jpg");
}

.features-slider h2 {
  margin: 0;
  padding-top: 21px;
  padding-left: 26px;
}

.features-slider span {
  display: block;
  padding-left: 26px;
  margin-bottom: 122px;
}

.features-slider a {
  float: left;
  width: 195px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.features-slider-item a {
  position: absolute;
  bottom: 3px;
  left: 6px;
}

/**Оформление мейна второй страницы**/
/**Хлебные крошки**/

.breadcrumbs a,
.breadcrumbs span {
  float: left;
  margin-left: 39px;
  padding: 25px 0;
}

.breadcrumbs a:first-child {
  margin-left: 0;
}

main h1 {
  margin: 0;
  padding: 33px 0;
  margin-bottom: 20px;

  background: #f2f6f8;
}
/** фильтер **/

.filter {
  float: left;
  width: 220px;
}

fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.filter h2 {
  margin: 0;
  padding: 14px 18px;

  background: #f7f3ec;
}

.filter .range-slider {
  width: 220px;
  min-height: 127px;

  background: #f7f3ec;
}

.filter label {
  display: block;
}

.filter input[type="submit"] {
  margin-top: 75px;
}

/**Сортировка**/

.sorting {
  float: right;
  width: 680px;
  margin-bottom: 20px;
  padding: 14px 10px;

  background: #f7f3ec;
}

.sorting h2, .sorting a {
  float: left;
}

.sorting h2 {
  margin: 0;
  margin-right: 70px;
}

.sorting a {
  margin-left: 70px;
}

.sorting a:nth-child(n+5) {
  display: none;
}

/** Товары **/
.catalog-content {
  float: right;
  width: 700px;
}

.paginator {
  float: left;
  margin-bottom: 60px;
}

.paginator a {
  float: left;
  padding: 13px 13px;
}

.paginator a:first-child {
  display: none;
}

/**Вторая часть мейна популярные товары**/


.main-title {
  margin-bottom: 21px;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 25px;
  padding-left: 30px;

  background-color: #f7f3ec;
}

.main-title h2 {
  float: left;
  margin: 0;
  padding-top: 6px;
}

.main-title .btn {
  float: right;
  width: 253px;
  margin-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.goods {
  font-size: 0;
  margin-right: -10px;
  margin-left: -10px;
}

.goods-item {
  position: relative;

  display: inline-block;
  width: 218px;
  min-height: 316px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  vertical-align: top;

  font-size: 17px;
  line-height: 1.059;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.goods-item-image {
  margin: 0;
  padding: 0;
}

.goods-item-title {
  min-height: 40px;
  margin-bottom: 17px;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 1.111;
  white-space: normal;
}

.goods-item-discount {
  min-height: 18px;
  margin-bottom: 13px;

  text-decoration: line-through;

  color: #999999;
}

.btn-price {
  position: relative;

  width: 140px;
  min-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 42px;

  text-align: center;
}

.goods-item-order {
  display: none;
}

/** Третья часть мейна производители **/
.suppliers {
  margin-right: -10px;
  margin-left: -10px;

  font-size: 0;
}
.suppliers a {
  display: inline-block;
  width: 218px;
  height: 143px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  vertical-align: top;
}

.suppliers a:nth-child(4n) {
  margin-right: 0px;
}

/** Четвертая часть мейна сервисы+слайдер **/

.services {
  min-height: 522px;
}

.section {
  background: #f2f6f8;
}

.section h2 {
  margin: 0;
  padding-top: 57px;
  padding-bottom: 20px;
}

.section p {
  margin: 0;
  margin-bottom: 72px;
}
/** Слайдер №2 **/
.services-tabs {
  display: none;
}

/** Пятая часть мейна информационный контент **/

.info {
  margin-bottom: 86px;
}

.info-company {
  width: 540px;
}

.info-contacts {
  margin-left: 100px;
}

.info-company,
.info-contacts {
  float: left;
  margin-top: 77px;
}

.info h2 {
  margin: 0;
  padding-bottom: 31px;
}

.info p {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
}

.info-company .list {
  margin: 0;
  padding: 0;
}

.list li {
  padding-left: 36px;
  padding-bottom: 22px;
}

.info a {
  width: 220px;
  margin-top: 14px;
  padding: 10px 0;
}

.info-map {
  padding-bottom: 26px;
}

.info-contacts a {
  width: 300px;
}

/**Первая часть футера лого+навигация**/

.main-footer {
  color: #ffffff;

  background: #32425c;
}

.main-footer-about {
  float: left;
  width: 380px;
}

.main-footer-about p {
  float: left;
}

.main-footer-nav {
  float: right;
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 43px;
  padding-bottom: 32px;

  font-size: 0;

  list-style: none;
}

.main-footer-nav li {
  display: inline-block;
  margin-bottom: 43px;
  margin-right: 55px;
}

.main-footer-nav li:nth-child(5) {
  margin-right: 0;
}

.main-footer-nav li:nth-child(9) {
  margin-right: 0;
}

.main-footer-nav a {
  font-size: 18px;
}
/**Вторая часть футера копирайты+соц.сеть.**/

.main-footer-info {
  min-height: 107px;
  padding-top: 41px;

  color: #ffffff;

  background: #293449;
}

.main-footer-copyright {
  float: left;
  width: 240px;
}

.social {
  float: left;
  width: 134px;
  margin-left: 150px;

  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 4px;

  background: #212a3a;
}

.social-btn:last-child {
  margin-right: 0px;
}

.main-footer-feedback {
  float: right;
  width: 100px;
  margin-left: 50px;
}


